* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: xx-large;
}

:focus {
  /* TODO */
  outline: none;
}

body {
  background: rgb(238, 174, 202);
  background: linear-gradient(to right, #ffd700, #ff8c00);
}

input {
  margin: 200px auto 15px;
  background: linear-gradient(to right, #f4b518, #f09e0f);
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.search-container input,
.search-container .suggestions {
  /* TODO */
}
.search-container input {
  /* TODO */
}
.search-container .suggestions {
  /* TODO */
}

ul {
  list-style-type: none;
}
ul.has-suggestions {
  /* TODO */
}
ul li {
  /* TODO */
}
ul li:hover {
  cursor: pointer;
  background-color: rgb(235, 144, 111);
  font-weight: 600;
}

input {
  /* TODO */
}
