* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: xx-large;
}

:focus {
  /* TODO */
}

body {
}

input {
  margin: 200px auto;
}

.search-container {
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.search-container input,
.search-container .suggestions {
  /* TODO */
}
.search-container input {
  /* TODO */
}
.search-container .suggestions {
  /* TODO */
}

ul {
  /* TODO */
}
ul.has-suggestions {
  /* TODO */
}
ul li {
  /* TODO */
}
ul li:hover {
  /* TODO */
}

input {
  /* TODO */
}
